<!-- <p>template-form works!</p> -->
<h1 class="mb-4">User Registration using Template driven form</h1>
<form class="form-signin">
    <input type="email" id="inputEmail" class="form-control" placeholder="Full Name" required="">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="">
    <input type="email" id="inputEmail" class="form-control" placeholder="Phone No." required="">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <input type="email" id="inputEmail" class="form-control" placeholder="Confirm Password" required="">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Agree with Terms and Conditions
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>